@tailwind base;
@tailwind components;
@tailwind utilities;
 

@layer base {

}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Cormorant", serif;
  font-size: 80px;
  font-weight: 700;
  color: #1D1916;

}

h2 {
  font-family: "Cormorant", serif;
  font-size: 50px;
  font-weight: 300;
  color: #1D1916;

}

h3 {
  font-family: "Cormorant", serif;
  font-size: 40px;
  font-weight: 300;
  color: #1D1916;

}

h4 {
  font-family: "Cormorant", serif;
  font-size: 30px;
  font-weight: 400;
  color: #1D1916;

}

h5 {
  font-family: "Cormorant", serif;
  font-size: 25px;
  font-weight: 700;
  color: #1D1916;

}


h6 {
  font-family: "roboto", sans-serif;
  font-size: 25px;
  font-weight: 700;
  color: #F7F6F4;
}

p {
  font-family: "roboto", sans-serif;
  font-size: 18px;
  font-weight: 0;
  color: #1D1916;
}

@media (max-width: 768px) {
  h1 {
    font-family: "Cormorant", serif;
    font-size: 45px;
    color: #1D1916;

  }
  h2 {
    font-family: "Cormorant", serif;
    font-size: 38px;
    color: #1D1916;

  }
  h3 {
    font-family: "Cormorant", serif;
    font-size: 28px;
    color: #1D1916;

  }
  h4 {
    font-family: "Cormorant", serif;
    font-size: 20px;
    color: #1D1916;

  }
  h5 {
    font-family: "Cormorant", serif;
    font-size: 16px;
    color: #1D1916;

  }

  h6 {
    font-family: "roboto", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #F7F6F4;
  }


  p {
    font-family: "roboto", sans-serif;
    font-size: 14px;
    color: #1D1916;

  }
}
