---
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Galleri">
    <article class="p-xs sm:p-s md:p-ml lg:p-lg max-w-screen-2xl mx-auto">
<h2>Inspiration til Pejseløsninger med Stil og Komfort</h2>

<img src="" alt="">


    </article>

</MainLayout>