---
// src/pages/hybridpejskategori.astro
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";
import KategoriLink from "../components/kategorilink.astro";
---

<MainLayout title="Biopejs">
  <article>
    <section class="p-xs sm:p-s md:p-ml lg:p-lg max-w-screen-2xl mx-auto">
      <h2 class="pb-xs">Gaspejse</h2>
      <p class="max-w-full sm:max-w-[500px] md:max-w-[819px] lg:max-w-[819px]">
        Hybridpejs, også kendt som Opti-myst pejs eller vandpejs, er det nye
        inden for pejse. Den revolutionerende teknologi kombinerer vanddamp og
        moderne LED teknologi til at skabe smukke flammeeffekter helt uden varme
        og brandfare. Hybride vanddamp pejse er en ny type af el pejse, hvor
        brugen af vanddampe gør flammen mere realistisk. Med en hybridpejs kan
        du altså skabe helt ufarlige, men stadig meget realistiske og flotte
        flammer. Pejse med vamddamp er et godt alternativ til f.eks. biopejsen,
        og kan bruges steder, hvor man ikke kan brandsikre omkring pejsen.
      </p>

      <h3 class="pb-xs pt-ml">Kategorier</h3>
      <div
        class="slide-in-left grid grid-cols-2 lg:grid-cols-4 gap-xs mx-auto md:gap-sm pb-ml"
      >
        <KategoriLink
          imageSrc="/imgs/produktbilleder/trimlinequartz.webp"
          linkUrl="/productview?tags=fritstående,gas"
          overlayText="Fritstående"
        />
        <KategoriLink
          imageSrc="/imgs/produktbilleder/matriX1050-500RD.webp"
          linkUrl="/productview?tags=indbygget,gas"
          overlayText="Indsat"
        />
      </div>

      <div class="grid md:grid-cols-2 gap-s md:gap-xl md:pt-s">
        <div>
          <h3>Gaspejs - kend fordelene og få svar på dine spørgsmål</h3>
          <p>
            Gaspejse og brandere har for længst vundet indpas i mange hjem og
            med god grund. De kombinerer ægte flammer med brugervenlig komfort
            og stilrent design. Men selvom gaspejsen efterhånden er en velkendt
            løsning, møder vi stadig mange spørgsmål omkring funktion, sikkerhed
            og muligheder. Derfor har vi samlet de mest stillede spørgsmål ét
            sted, så du nemt kan finde svar og blive inspireret. Uanset om du
            overvejer at installere en gaspejs eller allerede har én derhjemme,
            får du her masser af nyttige tips og gode råd til, hvordan du får
            mest glæde ud af din gaspejs. Har du spørgsmål, du ikke finder svar
            på her, er du naturligvis altid velkommen til at kontakte vores
            kundeservice. Vi deler gerne ud af vores erfaring og ekspertise, så
            du får den bedste løsning til netop dit hjem.
          </p>
        </div>

        <div class="md:pb-s">
          <!-- <h3>Danmarks største udvalg</h3>
          <p>--</p> -->
        </div>
      </div>
    </section>

     <!-- opdelings billede -->
     <section class="max-w-screen-2xl py-sm ">
      <div class="grid md:grid-cols-3 mx-auto w-fit gap-ml  ">
     <div class="grid grid-rows-2 gap-ml">
          <img  loading="lazy"
           class="w-[373px] h-[373px]"
            src="/imgs/galleri/gaspejs.webp"
            alt="Gaspejs "
          />
           <img  loading="lazy"
            class="w-[373px] h-[373px]"
            src="/imgs/galleri/foco-one.webp"
            alt="Foco one"
          />
        </div>
        <img  loading="lazy"
          class="md:col-span-2 w-[373px] h-[373px] md:w-[800px] md:h-[800px]"
         src="/imgs/produktbilleder/matriX1050-500RD.webp"
          alt="Elpejs"
        /> 
      </div>
    </section>

    <!-- SEO -->
    <section class="p-xs sm:p-s md:p-ml lg:p-lg max-w-screen-2xl mx-auto">
      <div>
        <h3 class="pb-xs">Lær mere om Gaspejse</h3>
        <div class="grid lg:grid-cols-2 gap-sm md:gap-xl pb-xl">
          <!-- Venstre -->

          <div class="flex flex-col gap-sm">
            <!-- 1 -->
            <details class="invisible fade-target w-full sm:w-[640px]">
              <summary
                class="list-none flex flex-wrap border-b-2 items-center cursor-pointer"
              >
                <div class="md:block hidden"></div>
                <h5>Lukket gasbrændeovn uden skorsten</h5>
              </summary>
              <div>
                <p class="py-xs">
                  Køb en gasbrændeovn uden skorsten og undgå problematikken med
                  at opbygge en skorsten. Vores gas pejse kan installeres uden
                  skorsten. De skal installeres med et aftræk, så gasbrændeovnen
                  kan komme af med røggasserne. Derfor kan du hermed på siden
                  finde en model med aftræk - nærmere betegnet balanceret
                  aftræk.  Der findes utallige installationsløsninger, når det
                  gælder gaspejse. Derfor er det ofte er en smagssag, hvor og
                  hvordan du ønsker pejsen i dit hjem. Flammen i pejsen er stor
                  og smuk, og den er ofte set synlig fra flere vinkler. Vi har
                  samlet produkterne til at indbygge i én kategori.
                </p>
              </div>
            </details>
            <!-- 2 -->
            <details class="invisible fade-target w-full sm:w-[640px]">
              <summary
                class="list-none flex flex-wrap border-b-2 items-center cursor-pointer"
              >
                <div class="md:block hidden"></div>
                <h5>Optænding via gratis app</h5>
              </summary>
              <div>
                <p class="py-xs">
                  I og med at pejsen er lukket, vil det ikke være muligt at
                  komme ind til selve brænderen for at antænde. På denne måde
                  kan du normalt starte biopejse ved at tænde for lighteren og
                  holde den hen mod brænderen. Her kan du derimod få en gaspejs
                  app, der kan starte flammerne med et enkelt klik. Få sekunder
                  og så har du flammerne. Det er muligt at indstille efter
                  niveau eller temperatur. Har konen taget fjernbetjening for at
                  skrue op for varmen, kan du derfor stadig reducere flammen og
                  dermed varmen på din mobiltelefon. Der er nemlig to
                  betjeningsmetoder til de fleste indendørs gaspejse. De kan
                  sågar antændes på styringsmodulet også, hvis det skulle blive
                  aktuelt.
                </p>
              </div>
            </details>
            <!-- 3 -->
            <details class="invisible fade-target w-full sm:w-[640px]">
              <summary
                class="list-none flex flex-wrap border-b-2 items-center cursor-pointer"
              >
                <div class="md:block hidden"></div>
                <h5>De bedste moderne design</h5>
              </summary>
              <div>
                <p class="py-xs">
                  DRU Fires er dette årtis bevis på moderne design i
                  pejsebranchen. Der er sjældent set mere stilrene pejse, og DRU
                  betegnes desuden blandt de bedste gaspejse på markedet. Dette
                  skyldes ikke mindst deres prisvindende teknologi, som modtager
                  adskillige roser i branchen. Vi lader videoen tale for sig
                  selv. Oplev den fantastiske Maestro ildsted brænder.
                </p>
                <p class="pb-xs">
                  Det er langt nemmere at lave unikke og moderne designs med
                  gas- og biopejse, fordi kravet til aftrækket, eller manglen
                  herpå, gør konstruktionen mere fleksibel. Biopejse kræver
                  ingen aftræk, men kan i enkelte tilfælde stille krav til
                  ventilation, hvis rummet er af mindre størrelse. Hvad gør sig
                  gældende for en brændeovn er, at denne kræver en udluftning og
                  træk ind til brændeovnen.
                </p>
              </div>
            </details>
            <!-- 4 -->
            <details class="invisible fade-target w-full sm:w-[640px]">
              <summary
                class="list-none flex flex-wrap border-b-2 items-center cursor-pointer"
              >
                <div class="md:block hidden"></div>
                <h5>Gaspejs i lejlighed</h5>
              </summary>
              <div>
                <p class="py-xs">
                  Er du i besiddelse af en lækker lejlighed, hvorfor så ikke
                  gøre den endnu mere fantastisk? Ja, du kan sagtens installere
                  en gaspejs i en lejlighed. Der skal blot monteres et
                  balanceret aftræk til ovnen, så den kan komme af med
                  afgasserne og tilføre frisk luft udefra. Den kan sågar
                  installeres i soveværelse, hvis det ønskes. En gaspejs
                  påvirker netop ikke dit indeklima, hvorfor den kan installeres
                  stort set alle steder. Den eneste bekymring er, hvordan du får
                  monteret aftrækket til gasovnen. I mange ejendomme er der
                  allerede installeret gastilslutning, hvorfor det vil være en
                  oplagt og billig opvarmningskilde. Pejsen behøver således ikke
                  at blive forsynet med flaskegas, hvilket må betragtes som en
                  fordel. Det skyldes, at gassen fra forsyningen er billigere,
                  og det er ligeledes ikke nødvendigt at ombytte flaskerne til
                  flaskegas.
                </p>
              </div>
            </details>
            <!-- 5 -->
            <details class="invisible fade-target w-full sm:w-[640px]">
              <summary
                class="list-none flex flex-wrap border-b-2 items-center cursor-pointer"
              >
                <div class="md:block hidden"></div>
                <h5>Må gasflasken stå indendørs?</h5>
              </summary>
              <div>
                <p class="py-xs">
                  En almindelig gasflaske på 11 kg må stå indendørs. Man må endda have en ekstra i reserve, så pejsen automatisk kan skifte, hvis den ene er ved at løbe tør. Gasflasken vil ofte være gemt lidt af vejen, så den ikke er synlig i hjemmet. Det vil dog være en fordel, hvis den er nem at komme til, så opfyldning, eller udskiftning som det jo er, kan ske ganske nemt.
Du må umiddelbart ikke opbevare din gasflaske i kælderen, da flaskegas er tungere end luft.
                </p>

                
              </div>
            </details>
          </div>

          <!-- Højre -->
          <div class="flex flex-col gap-sm">
            <!-- 6 -->
            <details class="invisible fade-target w-full sm:w-[640px]">
              <summary
                class="list-none flex flex-wrap border-b-2 items-center cursor-pointer"
              >
                <div class="md:block hidden"></div>
                <h5>Hvad med nybyggerne?</h5>
              </summary>
              <div>
                <p class="py-xs">
                 Er I skræmt væk af den høje installationspris for at få anlagt gasforsyning ind i huset? Eller er der ikke mulighed for naturgas i jeres kommende bolig, så tøv ikke. Alle vores modeller fås som gaspejs til flaskegas, så du kan installere pejsen i hvilket som helst hus. Det kan være en fordel at køb af væggens dybde og længde for den sags skyld.
Højden kan reguleres, uanset om du er nybygger eller ej. Det er ofte en smagssag, når det kommer til, hvor høj omramningskassen skal være. Af samme årsag er der ikke lavet standardstørrelser af brandsikre omramninger, da behovene i hvert enkelt tilfælde er forskellige.
                </p>

               
              </div>
            </details>
            <!-- 7 -->
            <details class="invisible fade-target w-full sm:w-[640px]">
              <summary
                class="list-none flex flex-wrap border-b-2 items-center cursor-pointer"
              >
                <div class="md:block hidden"></div>
                <h5>Sådan påvirker en gaspejs ovn dit indeklima</h5>
              </summary>
              <div>
                <p class="py-xs">
                 Skorstenen, eller aftrækket som det korrekt betegnes, til en gaspejs ovn kommer som et rør i to dele. Ét rør, som trækker kold luft ind i pejsene, og ét der sender afgasserne ud fra gasovnene. Derfor er der tale om et lukket system, der ingen påvirkning på indeklimaet har. Det betyder derfor også, at der ikke er krav til træk i skorstenen eller mængde af luft i et pågældende rum. Det kan sammenlignes lidt med en skorsten til en brændeovn, hvor ovnen har brug for et korrekt træk samtidig med, at der er behov for at komme af med røgen. En brændeovn fyrer dog på brænde, hvorimod det synlige brænde i gaspejse er produceret af keramik.
                </p>
              </div>
            </details>
            <!-- 8 -->
            <details class="invisible fade-target w-full sm:w-[640px]">
              <summary
                class="list-none flex flex-wrap border-b-2 items-center cursor-pointer"
              >
                <div class="md:block hidden"></div>
                <h5>Gasflaske gemt i pejs</h5>
              </summary>
              <div>
                <p class="py-xs">
                  Der findes mange udgaver af flaskegas pejse, hvor flasken er skjult inde i selve pejsen. Dette er typisk til brug uden for og minder mere eller mindre om terrassevarmere. Disse kan være utrolig effektive, da de hæver temperaturen og forlænger de kolde sommeraftener. Alt dette samtidig med, at de skaber glæde og en smuk flamme på terrassen eller i haven. Ønsker du at gemme gasflasken af vejen, kan du også få en moderne gasflaske skjuler til din gaspejs.
                </p>

                <p class="py-xs">
                 Fordelen ved disse ildsteder er, at de typisk er transportable, så de nemt kan flyttes rundt på terrassen eller i haven. Det er sågar muligt at tage dem med i sommerhuset eller lignede, hvis der skal skabes en midlertidig flammehygge et andet sted.

                </p>

                
              </div>
            </details>
            <!-- 9 -->
            <details class="invisible fade-target w-full sm:w-[640px]">
              <summary
                class="list-none flex flex-wrap border-b-2 items-center cursor-pointer"
              >
                <div class="md:block hidden"></div>
                <h5>Hvad skal man bruge til en gaspejs?</h5>
              </summary>
              <div>
                <p class="py-xs">
                 Som det fremgår af ovenstående, så er pejsene lige til at installere - og så alligevel ikke. Det kan være lidt uoverskueligt at sætte sig ind i, hvad der er nødvendigt for at installere en gaspejs. Du har brug for følgende:
                </p>

<ul class="list-inside">
  <li class="list-disc font-roboto font-light">Gaspejs</li>
  <li class="list-disc font-roboto font-light">Aftræk</li>
<li class="list-disc font-roboto font-light">Gastilslutning i form af forsyning eller gasflaske</li>
<li class="list-disc font-roboto font-light">Isoleringsplader (Vi anbefaler Skamotec)</li>
</ul>

                <p class="py-xs">
                 Gaspejsen i sig selv skal selvsagt bruges i pejseprojektet. Aftrækket føres på den pågældende pejs. Der er krav til aftrækket afhængigt af konstruktion og model. Derfor anbefaler vi altid, at I tager kontakt til kundeservice. Herudover er det vigtigt, at ildstedet får tilgang til brændstoffet - enten direkte fra forsyningen eller via flaskegas. I forbindelse med opbygningen af pejsekonstruktionen er det vigtigt, at den indpakkes i brandsikre materialer.
                </p>
              </div>
            </details>
            <!-- 10 -->
            <details class="invisible fade-target w-full sm:w-[640px]">
              <summary
                class="list-none flex flex-wrap border-b-2 items-center cursor-pointer"
              >
                <div class="md:block hidden"></div>
                <h5>Opsummering på de fine hybridpejseløsninger</h5>
              </summary>
              <div>
                <p class="py-xs">
                  Du bør gøre op med dig selv omkring behovet i netop dit hus.
                  Sætter du pris på varme, hygge, miljø eller noget helt fjerde.
                  Det kan selvfølgelig også være i forhold til indretningen i
                  hjemmet – om det er en fritstående, ophængt eller indbygget,
                  der vælges? Gør dig nogle tanker og kontakt os endelig, hvis
                  vi kan være behjælpelige. Vi tilbyder meget gerne en
                  fremvisning i vores butikker i Aalborg (Langholt) og Valby
                  eller på messerne rundt om i hele Danmark.
                </p>

                <p class="py-xs">
                  Kunne du godt tænke dig at se hvad andre har gjort? Det er du
                  ikke alene om. Hos Biopejs-shop har vi derfor oprettet et
                  album med kundebilleder, hvor du kan danne dig et overblik
                  over alle de muligheder der er, når det kommer til at
                  inkorporere en pejs i hjemmet. Desuden bliver vores Instagram
                  løbende opdateret med flotte billeder, du ikke kan undgå at
                  blive inspireret af. Du kan derfor med fordel tjekke den ud,
                  mens du forsøger at gøre dig selv klogere på, hvad dit behov
                  helt præcist er, og hvad lige netop du drømmer om.
                  Mulighederne er mange, når det kommer til at indrette sig med
                  en pejs, så slå dine tanker løs.
                </p>
              </div>
            </details>
          </div>
        </div>
      </div>
    </section>
  </article>

  <style>
    @keyframes fadeInUp {
      0% {
        opacity: 0;
        transform: translateY(60px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }

    .fade-in-up {
      animation: fadeInUp 1.2s ease-out forwards;
    }

    .invisible {
      opacity: 0;
    }
  </style>

  <script>
    const observer = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.remove("invisible");
            entry.target.classList.add("fade-in-up");
            observer.unobserve(entry.target); // Animate only once
          }
        });
      },
      { threshold: 0.1 }
    );

    document.querySelectorAll(".fade-target").forEach((el) => {
      observer.observe(el);
    });
  </script>
</MainLayout>
