---
// src/pages/hybridpejskategori.astro
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Button from "../components/Button.astro";
import KategoriLink from "../components/kategorilink.astro";
---

<MainLayout title="Biopejs">
  <article>
    <section class="p-xs sm:p-s md:p-ml lg:p-lg max-w-screen-2xl mx-auto">
      <h2 class="pb-xs">Gaspejs</h2>
      <p class="max-w-full sm:max-w-[500px] md:max-w-[819px] lg:max-w-[819px]">
        Hybridpejs, også kendt som Opti-myst pejs eller vandpejs, er det nye
        inden for pejse. Den revolutionerende teknologi kombinerer vanddamp og
        moderne LED teknologi til at skabe smukke flammeeffekter helt uden varme
        og brandfare. Hybride vanddamp pejse er en ny type af el pejse, hvor
        brugen af vanddampe gør flammen mere realistisk. Med en hybridpejs kan
        du altså skabe helt ufarlige, men stadig meget realistiske og flotte
        flammer. Pejse med vamddamp er et godt alternativ til f.eks. biopejsen,
        og kan bruges steder, hvor man ikke kan brandsikre omkring pejsen.
      </p>

      <h3 class="pb-xs pt-ml">Kategorier</h3>
      <div
        class="grid grid-cols-2 lg:grid-cols-4 gap-xs mx-auto md:gap-sm pb-ml"
      >
        <KategoriLink
          imageSrc="src/assets/images/kategori_links/elpejs_link.webp"
          linkUrl="/productview?tags=fritstående,gas"
          overlayText="Fritstående"
        />
        <KategoriLink
          imageSrc="/src/assets/images/kategori_links/hybrid_link.webp"
          linkUrl="/productview?tags=indbygget,gas"
          overlayText="Indsat"
        />
      </div>

      <div class="grid md:grid-cols-2 gap-s md:gap-xl md:pt-s">
        <div>
          <h3>Guide til Elpejs</h3>
          <p>
            Elpejse er stadig et relativt nyt fænomen for mange, og det er ikke
            alle, der kender til deres muligheder og funktioner. Derfor oplever
            vi, at der ofte opstår spørgsmål og usikkerhed i forbindelse med
            brugen af elpejse. For at gøre det nemt for dig har vi samlet de
            mest almindelige spørgsmål. Her finder du masser af inspiration, gode råd og
            praktiske tips til, hvordan du får mest muligt ud af din elpejs.
            Skulle du ikke finde svar på netop dit spørgsmål, er du selvfølgelig
            altid velkommen til at kontakte vores kundeservice – vi står klar
            til at hjælpe og rådgive dig med vores ekspertise inden for elpejse.
          </p>
        </div>

        <div class="md:pb-s">
          <h3>Danmarks største udvalg</h3>
          <p>--</p>
        </div>
      </div>
    </section>
    <!-- opdelings billede -->
    <section class="max-w-screen-2xl mx-auto py-sm">
      <img src="/src/assets/images/hybridstor.webp" alt="" />
    </section>

    <!-- SEO -->
    <section class="p-xs sm:p-s md:p-ml lg:p-lg max-w-screen-2xl mx-auto">
      <div>
        <h3 class="pb-xs">Lær mere om Elpejse</h3>
        <div class="grid lg:grid-cols-2 gap-sm md:gap-xl">
          <!-- Venstre -->

          <div class="flex flex-col gap-sm">
            <!-- 1 -->
            <details class="w-full sm:w-[640px]">
              <summary
                class="list-none flex flex-wrap border-b-2 items-center cursor-pointer"
              >
                <div class="md:block hidden"></div>
                <h5>Hybridpejs / Opti-Myst pejs / Vandpejs</h5>
              </summary>
              <div>
                <p class="py-xs">
                  Hybridpejse drives af vand og el, deraf kommer navnet hybrid.
                  Denne teknologi kaldes også Opti-myst teknologi, som
                  firmaet Dimplex har udviklet, og derfor kaldes denne type pejs
                  til tider også for en opti myst pejs. Den benævnes af andre
                  som en vandpejs, mens en helt tredje part kategoriserer den
                  som en elektrisk pejs. Pejsen har ikke helt fundet fodfæste i
                  forhold til en endelig betegnelse. Én ting er dog sikkert:
                  Hybridpejsen skaber en fascinerende flammeeffekt, og flammerne
                  fremstår utrolig autentiske og overbevisende. Hybridpejsen er
                  samtidig med til at bevare det gode indeklima ved hverken at
                  skabe lugtgener, røg eller lignende. Hybridpejsen kan i
                  princippet installeres alle steder, hvor den kan tilsluttes en
                  stikkontakt og stiller ingen krav til de omkringværende
                  materialer. Den kræver altså ingen autoriseret installation,
                  minimal rengøring, har minimale driftsomkostninger og er
                  utrolig
                </p>
              </div>
            </details>
            <!-- 2 -->
            <details class="w-full sm:w-[640px]">
              <summary
                class="list-none flex flex-wrap border-b-2 items-center cursor-pointer"
              >
                <div class="md:block hidden"></div>
                <h5>bæredygtig og miljøvenlig.</h5>
              </summary>
              <div>
                <p class="py-xs">
                  Sortimentet af pejse på vanddamp spænder vidt - så se dig om
                  efter netop den løsning, som passer til dit hjem. Om det skal
                  være en opti-myst pejs til væggen, en hybridpejs til gulvet
                  eller en vanddamppejs, der skal indbygges i væggen, er helt op
                  til dig. Svaret afhænger ofte af det udtryk, du ønsker i dit
                  hjem i forhold til den type af indretning, du har dig, samt de
                  muligheder dit hjem generelt giver dig.
                </p>
              </div>
            </details>
            <!-- 3 -->
            <details class="w-full sm:w-[640px]">
              <summary
                class="list-none flex flex-wrap border-b-2 items-center cursor-pointer"
              >
                <div class="md:block hidden"></div>
                <h5>Hvad er en hybridpejs?</h5>
              </summary>
              <div>
                <p class="py-xs">
                  Navnet "hybrid" stammer fra drivkraften i ildstedet, som
                  ganske enkelt er vandet fra vandhanen og strøm fra din
                  stikkontakt. Den er også benævnt under betegnelser som
                  vandpejs, damppejs, Opti-Myst eller Mystic Fire. Derfor kan du
                  med denne pejseløsning få en autentisk, flot og yderst
                  forførende ild og flamme. Det hele skabes af vanddamp og en
                  lyskilde, som sammen bidrager med et vidunderligt flammespil.
                </p>
                <p class="pb-xs">
                  Når det så er sagt, så er pejsen stadig relativ ny på
                  markedet. Det er gældende for Danmark, men egentligt i hele
                  verden. Det er det nyeste inde for pejseverdenen. Vi ville
                  ønske, at folk havde lige så stort kendskab til hybridpejse,
                  som eksempelvis brændeovne. Brændeovne er fantastiske – ingen
                  tvivl om det. Der er dog nogle tilfælde, hvor folk ikke har
                  mulighed for at installere en sådan ovn eller gaspejs for
                  eksempel. I disse tilfælde kan det være oplagt at se mod de
                  dekorative hybridpejse.
                </p>
                <p class="pb-xs">
                  Denne type af pejse med dampe kræver ikke alverdens faglig
                  ekspertise, og der skal foretages store undersøgelser for,
                  hvad der skal bruges af tilbehør og reservedele. Pejsene
                  leveres nemlig oftest komplette med alt, hvad du behøver.
                  Sammenligner du med biopejse, så skal der ofte tilkøbes
                  tilbehør i form af ethanol og dekorationer.
                </p>
              </div>
            </details>
            <!-- 4 -->
            <details class="w-full sm:w-[640px]">
              <summary
                class="list-none flex flex-wrap border-b-2 items-center cursor-pointer"
              >
                <div class="md:block hidden"></div>
                <h5>Hvad er alternativerne til vanddamp pejse?</h5>
              </summary>
              <div>
                <p class="py-xs">
                  Der er ingen tvivl om, at hybridpejsen, til nybyggeri- og
                  renoveringsprojekter, konkurrerer med biopejse, gaspejse eller
                  en brændeovn for den sags skyld. En biopejs drives dog af
                  bioethanol, hvor gaspejse brænder på gas – enten fra gasflaske
                  eller direkte gasforsyning. Disse brændstoffer er dyrere i
                  brug end vanddamppejsen. Vandet i en damppejs koster ikke
                  alverdens. Det er mere elektricitet, der kan være bekostelig i
                  dennes forbrug.
                </p>
                <p class="">
                  Et andet alternativ til pejsen, som ligger lidt mere i samme
                  genre, er en el pejs. Elpejse er 100 % strømdrevne og kræver
                  ingen yderligere tilslutning eller brændsel såsom vand,
                  bioethanol eller gas. I sådanne tilfælde kan du typisk vælge
                  at styre den elektriske pejs med en fjernbetjening eller
                  SmartPhone. Den bidrager helt sikkert med hygge på trods af,
                  at flammerne er kunstige.
                </p>
                <p class="py-xs">
                  Teknologien bliver bedre og bedre hver dag, hvilket er et
                  stort plus, da flammerne bliver mere autentiske. Din hygge kan
                  vare længere, fordi du netop ingen behov har for at påfylde
                  noget brændstof. Dog har du ligeledes mulighed for at vælge
                  denne løsning, hvis der vælges en af modellerne.
                </p>
                <p class="">
                  Disse fås nemlig også med fast vandforsyning. Vi har neden for
                  opsummeret og listet lidt af de populære pejsealternativer:
                </p>
                <ul class="list-inside">
                  <li class="list-disc font-roboto font-light">
                    Opti-myst pejs (Strømdrevet med vanddamp)
                  </li>
                  <li class="list-disc font-roboto font-light">
                    Biopejs (bioethanol)
                  </li>
                  <li class="list-disc font-roboto font-light">
                    Gaspejs (gas)
                  </li>
                  <li class="list-disc font-roboto font-light">
                    Brændeovn (brænde)
                  </li>
                  <li class="list-disc font-roboto font-light">
                    Pilleovn (Piller)
                  </li>
                  <li class="list-disc font-roboto font-light">
                    Elpejs (Strømdrevet)
                  </li>
                </ul>
                <p class="py-xs">
                  Hver sin pejsemodel kan være smart på hver deres måde. Det
                  gælder både en brændeovn, biopejse og eksempelvis en elpejs.
                </p>
              </div>
            </details>
            <!-- 5 -->
            <details class="w-full sm:w-[640px]">
              <summary
                class="list-none flex flex-wrap border-b-2 items-center cursor-pointer"
              >
                <div class="md:block hidden"></div>
                <h5>Hvad koster en hybrid pejs typisk?</h5>
              </summary>
              <div>
                <p class="py-xs">
                  En almindelig gasflaske på 11 kg må stå indendørs. Man må
                  endda have en ekstra i reserve, så pejsen automatisk kan
                  skifte, hvis den ene er ved at løbe tør. Gasflasken vil ofte
                  være gemt lidt af vejeLigesom alle mulige andre typer af
                  pejse, så er prisen meget forskellig, når det kommer til en
                  hybrid pejs med den fascinerende optimyst vanddamp. Du kan
                  finde hybridpejse, hvor prisen kan starte fra ca. 4.000 dkk og
                  sågår finde komplette løsninger på helt op til 100.000 dkk.
                  Særligt Magic Fires har udviklet nogen særdeles profesionelle
                  og designfulde indsats pejse, der ligger i den højere ende. De
                  er ofte nedfældet i en sort indsats ramme, der skaber et
                  utroligt stilrent design. Det er med sikkerhed en af de
                  sikreste pejse på markedet, og så er den utrolig hyggelig.
                </p>

                <p class="py-xs">
                  Ud over Magic Fire, så er Faber Dimplex også med på noderne,
                  men deres produkter ligger typisk i et lidt lavere prisleje.
                  Det er særligt gældende for deres Cassette serie. Dimplex
                  udvalg af pejse i deres Cassette serie kommer som standard i
                  400, 500, 600 og 1000 mm. Vi oplever, at en Cassette ofte
                  bliver til et køb, når folk selv integrerer i et hjemmelavet
                  møbel eller lignende.
                </p>

                <p>
                  Det er klart, at det spiller ind, hvilken model og størrelse
                  der er tale om. Dernæst er design ligeledes en faktor, som
                  spiller ind. Der kommer mere interesse for indbygning af
                  optimyst pejs, og særlig her går folk meget op i design.n, så
                  den ikke er synlig i hjemmet. Det vil dog være en fordel, hvis
                  den er nem at komme til, så opfyldning, eller udskiftning som
                  det jo er, kan ske ganske nemt.
                </p>
              </div>
            </details>
          </div>

          <!-- Højre -->
          <div class="flex flex-col gap-sm">
            <!-- 6 -->
            <details class="w-full sm:w-[640px]">
              <summary
                class="list-none flex flex-wrap border-b-2 items-center cursor-pointer"
              >
                <div class="md:block hidden"></div>
                <h5>Flammer skabt af vand - Hybridpejsen er fremtiden!</h5>
              </summary>
              <div>
                <p class="py-xs">
                  Hybridpejsen drives af vand og el, og deraf kommer navnet
                  hybrid. Vanddamp pejsen skaber en fascinerende
                  flammeeffekt, og flammerne fremstår meget lig ægte flammer som
                  i en biopejs. Opti-myst pejsen er samtidig med til at bevare
                  det gode indeklima ved hverken at skabe røg, os eller
                  lignende. Fugten som vanddampene afgiver kan endda være godt
                  for f.eks. træmøbler.
                </p>

                <p class="py-xs">
                  Hybridpejsen kan i princippet installeres alle steder, hvor
                  den kan tilsluttes strøm, og der er ingen krav til de
                  omkringværende materialer. Den kræver altså ingen autoriseret
                  installation, minimal rengøring, har minimale
                  driftsomkostninger og er super miljøvenlig samlignet med andre
                  former for pejse.
                </p>

                <p class="py-xs">
                  Sortimentet af vanddamp pejse er bredt - så se dig om efter
                  netop den løsning, som passer til dit hjem. Om den hænges frit
                  på væggen, står på gulvet eller indbygges i muren er helt op
                  til dig. Den såkaldte hybridpejs har mange navne, så lad det
                  ikke forvirre dig, om der står Opti-Myst, vanddamp pejs,
                  vandpejs eller Opti-Myst med elpejs.
                </p>
              </div>
            </details>
            <!-- 7 -->
            <details class="w-full sm:w-[640px]">
              <summary
                class="list-none flex flex-wrap border-b-2 items-center cursor-pointer"
              >
                <div class="md:block hidden"></div>
                <h5>Opti-myst pejs uden skorsten eller aftræk</h5>
              </summary>
              <div>
                <p class="py-xs">
                  Flammerne fascinerer, og vi er mange, der meget gerne vil have
                  en pejs i hjemmet. Det er dog ikke altid en mulighed, da der
                  ingen aftræk til skorstenen er. Vores huse er tilmed så
                  isoleret i dag, at det ofte bliver for varmt med en pejs.
                  Hertil forurener de traditionelle brændeovne og pejse. Som
                  modsætning og løsning på alt dette er den fantastiske, moderne
                  og miljøvenlige hybridpejs opfundet.
                </p>

                <p class="py-xs">
                  Skab en flammeeffekt hvor du ikke oplever fare for at blive
                  brændt, ingen voldsom varme, samtidig med du giver et
                  skulderklap til miljøet. Vores pejse på vanddamp findes både
                  med og uden varmelegeme, så de kan også udlede en varmeeffekt,
                  hvis det ønskes. Flammen er skabt af en opti-myst teknologi
                </p>
              </div>
            </details>
            <!-- 8 -->
            <details class="w-full sm:w-[640px]">
              <summary
                class="list-none flex flex-wrap border-b-2 items-center cursor-pointer"
              >
                <div class="md:block hidden"></div>
                <h5>Hvordan fungerer en hybridpejs?</h5>
              </summary>
              <div>
                <p class="py-xs">
                  En hybridpejs er udstyret med den generøse Opti-Myst
                  teknologi, som er patenteret af Faber, der har været en
                  dominerende spiller i pejsebranchen i mange år. Denne
                  teknologi bevirker, at en kombination af lys og små vanddråber
                  fremskaber de smukke flammer.
                </p>

                <p class="py-xs">
                  Pejse efter denne teknologi har en separat vandtank indbygget,
                  hvoraf der produceres vanddråber via en transducer. Denne
                  proces sker ved, at små pærer af enten halogen eller LED
                  opvarmer luften, hvilket skubber dråberne op. Disse
                  reflekteres i lyset, og skaber dermed en indlevelsesrig
                  flammeeffekt, som imponerer selv den helt skeptiske.
                </p>

                <p class="py-xs">
                  Med sikkerheden i højsædet får du et flot designelement til
                  dit hjem. Vanddampen vil aldrig blive varmere, end at du kan
                  føre dine fingre igennem den - uden at brænde dig. Derudover
                  har hybridpejsen en exceptionel lang brændetid. Du kan regne
                  med, at de brænder ca. 8-10 timer pr 1 liter væske fra
                  vandhanen.
                </p>

                <p class="py-xs">
                  Netop som man troede, det ikke kunne blive bedre, hører der
                  stort set ingen vedligeholdelse til pejsen. Det eneste du skal
                  sikre dig er, at den er tilsluttet en stikkontakt og har vand
                  i beholderen. Hybridpejsene giver dig alle fordele, der hører
                  til en almindelig pejs, mens du slipper for
                  irritationsmomenterne.
                </p>
              </div>
            </details>
            <!-- 9 -->
            <details class="w-full sm:w-[640px]">
              <summary
                class="list-none flex flex-wrap border-b-2 items-center cursor-pointer"
              >
                <div class="md:block hidden"></div>
                <h5>Bestilling af Opti-Myst pejse</h5>
              </summary>
              <div>
                <p class="py-xs">
                  Rent lavpraktisk – hvad gør jeg for at komme igang med min nye
                  pejs? Kræver det alverdens opmåling, eller er man klar med det
                  samme? Det afhænger principielt af, hvorvidt du ønsker at
                  indbygge ildstedet til dampe i en væg, eller om den blot skal
                  fungere som en fritstående hyggespreder. Ofte bliver disse
                  opti-myst pejse nedfældet inde i en væg, en overflade eller et
                  møbel. Derfor skal du tage lidt hensyn til målene i din
                  konstruktion i sådanne tilfælde.
                </p>

                <p class="py-xs">
                  Falder dit valg derimod på en af de færdige modeller –
                  eksempelvis de væghængte hybridpejse eller fritstående
                  optimyst pejse – så kan du roligt ligge produktet i kurven og
                  udnytte vores tilbud med fri fragt på hybridpejse. Er du
                  omvendt i tvivl, om det er det rigtige produkt, du har valgt,
                  så kontakt os gerne inden.
                </p>
              </div>
            </details>
            <!-- 10 -->
            <details class="w-full sm:w-[640px]">
              <summary
                class="list-none flex flex-wrap border-b-2 items-center cursor-pointer"
              >
                <div class="md:block hidden"></div>
                <h5>Opsummering på de fine hybridpejseløsninger</h5>
              </summary>
              <div>
                <p class="py-xs">
                  Du bør gøre op med dig selv omkring behovet i netop dit hus.
                  Sætter du pris på varme, hygge, miljø eller noget helt fjerde.
                  Det kan selvfølgelig også være i forhold til indretningen i
                  hjemmet – om det er en fritstående, ophængt eller indbygget,
                  der vælges? Gør dig nogle tanker og kontakt os endelig, hvis
                  vi kan være behjælpelige. Vi tilbyder meget gerne en
                  fremvisning i vores butikker i Aalborg (Langholt) og Valby
                  eller på messerne rundt om i hele Danmark.
                </p>

                <p class="py-xs">
                  Kunne du godt tænke dig at se hvad andre har gjort? Det er du
                  ikke alene om. Hos Biopejs-shop har vi derfor oprettet et
                  album med kundebilleder, hvor du kan danne dig et overblik
                  over alle de muligheder der er, når det kommer til at
                  inkorporere en pejs i hjemmet. Desuden bliver vores Instagram
                  løbende opdateret med flotte billeder, du ikke kan undgå at
                  blive inspireret af. Du kan derfor med fordel tjekke den ud,
                  mens du forsøger at gøre dig selv klogere på, hvad dit behov
                  helt præcist er, og hvad lige netop du drømmer om.
                  Mulighederne er mange, når det kommer til at indrette sig med
                  en pejs, så slå dine tanker løs.
                </p>
              </div>
            </details>
          </div>
        </div>
      </div>
    </section>
  </article>
</MainLayout>
