---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="product">
  <article class="p-xs sm:p-s md:p-ml lg:p-lg max-w-screen-2xl mx-auto">
    <h2 class="mb-sm">
      Showing: <span id="tag-display">Loading tags...</span>
    </h2>
    <div id="product" class="gap-y-sm">
      <p>Loading products...</p>
    </div>
  </article>
</MainLayout>
