---
// Henter parametrene fra Astro.props
const { href="#", target="_self", variant= "textlink", size = "inline" } = Astro.props; 

//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper
const linkStyling = " btn relative flex items-center p-xxs justify-center  transition duration-200 ease-in-out border-2"; 

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter 
const variantClasses = {
/* brun knap */
    "buttonbrown":"text-white-500 bg-brown-700  border-transparent hover:bg-brown-400 hover:text-blue-300" ,

/* orange knap */
   "buttonorange":"text-white-500 bg-orange-500  border-transparent hover:bg-orange-700 hover:text-white-300",
  
};

//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.
const sizeClasses = {
    "xsmall": "text-xs px-s py-xxxs  ",
   "small": "text-s px-xxs py-xxxs",
    "medium": "text-xl px-xxs py-xxs font-semibold",
    "large": "text-3xl px-xxs py-xxs font-semibold",
    "xlarge": "text-3xl px-xxs py-xxs font-semibold",
};

---
<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<a href={href} target={target} class:list={[linkStyling, variantClasses[variant], sizeClasses[size],]}><slot /></a>




