---
import Link from "../components/Link.astro";
---
<!-- Navigation -->
<div class="">
  <div
    x-data="{ showmenu: false }"
    class="px-s py-xs fixed top-0 left-0 z-50 w-full bg-white-200"
  >
    <!-- Desktop -->
    <div id="navbar" class="flex flex-row justify-between md:mb-s">
      <!-- Logo -->
      <div class="logo">
        <a href="/">
          <img  loading="lazy" src="/imgs/biopejslogo.png" alt="Biopejs logo" class="h-[48px] mr-xs" />
          
        </a>
      </div>

      <!-- Search bar -->
      <div class="hidden md:flex flex-1 max-w-xl px-4 items-center">
        <div class="flex flex-1 space-x-m">
        <input
          type="text"
          placeholder="Søg efter vare"
               class="w-full text-xs  bg-transparent border-0 border-b border-brown-700 text-brown-700 placeholder-brown-700 focus:border-black-200"
        />

        <a href="/kurv">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-basket" viewBox="0 0 20 20">
          <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9zM1 7v1h14V7zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5m2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5"/>
        </svg>
      </a>
    </div>
      </div>
      <!-- burgermenu -->
        <button
          id="burger-menu"
          id="burgermenu"
          class="md:hidden"
          x-on:click="showmenu = ! showmenu"
        >
          <svg viewBox="0 0 100 80" width="30" height="30">
            <rect width="100" height="8" rx="10"></rect>
            <rect y="30" width="100" height="8" rx="10"></rect>
            <rect y="60" width="100" height="8" rx="10"></rect>
          </svg>
        </button>
    </div>

      <!-- nav -->
      <div class="flex place-items-end">
        <nav
          id="desktopmenu"
          class="hidden md:flex md:flex-row md:items-center gap-20 ml-auto"
        >
          <ul class="flex flex-row gap-s">
            <li>
              <Link size="small" variant="link" href="/biopejskategori"
                >Biopejs</Link
              >
            </li>
            <li>
              <Link size="small" variant="link" href="/hybridpejskategori"
                >Hybridpejs</Link
              >
            </li>
            <li>
              <Link size="small" variant="link" href="/elpejskategori">Elpejs</Link>
            </li>
            <li>
              <Link size="small" variant="link" href="/gaspejskategori">Gaspejs</Link>
            </li>
            <li>
              <Link size="small" variant="link" href="/">Udendørs</Link>
            </li>
            <li>
              <Link size="small" variant="link" href="/">Mærker</Link>
            </li>
            <li>
              <Link size="small" variant="link" href="/guides">Guides</Link>
            </li>
            <li>
              <Link size="small" variant="link" href="/om">Om os</Link>
            </li>
            <li>
              <Link size="small" variant="link" href="/galleri">Galleri</Link>
            </li>
          </ul>
        </nav>
        
      </div>

      <!-- mobile view -->
      <nav
        id="mobilmenu"
        class="flex flex-col  pt-xxxs w-full md:hidden"
        x-show="showmenu"
        x-transition
        x-on:click="showmenu = false"
        x-on:click.outside="showmenu = false"
      >
        <ul class="text-right transform no-underline pt-xxxs">
          <li class="py-xxxs">
              <Link size="small" variant="link" href="/biopejskategori"
                >Biopejs</Link
              >
            </li>
            <li class="">
              <Link size="small" variant="link" href="/hybridpejskategori"
                >Hybridpejs</Link
              >
            </li>
            <li class="py-xxxs">
              <Link size="small" variant="link" href="/elpejskategori">Elpejs</Link>
            </li>
            <li class="">
              <Link size="small" variant="link" href="/gaspejskategori">Gaspejs</Link>
            </li>
            <li class="py-xxxs">
              <Link size="small" variant="link" href="/">Udendørs</Link>
            </li>
            <li class="">
              <Link size="small" variant="link" href="/">Mærker</Link>
            </li>
            <li class="py-xxxs">
              <Link size="small" variant="link" href="/guides">Guides</Link>
            </li>
            <li class="">
              <Link size="small" variant="link" href="/om">Om os</Link>
            </li>
            <li class="py-xxxs">
              <Link size="small" variant="link" href="/galleri">Galleri</Link>
            </li>
          <!-- kurv -->
          <li class="">
            <Link size="small" variant="link" href="/kurv">Kurv</Link>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
