---
const { imageSrc, linkUrl, overlayText } = Astro.props;
---
<a href={linkUrl} class="relative group block w-auto h-9xl md:w-[336px] md:h-[240px] overflow-hidden">
    <div class="absolute inset-s flex items-center justify-center">
        <p class="text-white-100 text-xl md:text-3xl font-medium text-center z-10 ">{overlayText}</p>
      </div>

    <img 
     loading="lazy"
    src={imageSrc} 
    alt={overlayText} 
    class="w-full h-full object-cover transition duration-300 ease-in-out brightness-90 group-hover:brightness-50"
  />
  
</a>